<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="/jq/jquery-1.9.1.js" type="application/javascript"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>主页</title>
</head>

<style>

.checkyes{
	border-color:green;
}
.checkno{
	border-color:red;
}

</style>

<script>

function login(){

	var username = $("#userName").val();
	var userPassword = $("#userPassword").val();

	$.ajax({
		type:"POST",
		url:"/login",
		data:{'userName':username,'userPassword':userPassword},
		success: function(data){
			$("#message").val(data);
		}
	})

}

function checkName(){
	var username = $("#userName").val();
	$.ajax({
		type:"POST",
		url:"/checkName",
		data:{'userName':username},
		success: function(data){
			if(data==0){
				$("#userName").removeClass("checkyes");
				$("#userName").addClass("checkno");
				if(username==""){
					$("#userName").removeClass("checkno");
				}
			}else{
				$("#userName").removeClass("checkno");
				$("#userName").addClass("checkyes");
			}
		}
	})
}




</script>

<body>
<h1 th:text="${userName}"></h1>
<h1>欢迎您登录本平台</h1>
</body>
</html>